.banner{
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 260px);
    
    padding: 0% 6%; 
    align-items: flex-end;

    position: relative;
    overflow: hidden; 
}
.middle-cloud, .left-cloud, .right-cloud{
    background-image: url('/images/banner-cloud.png');
    width: 50rem;
    height: 50rem;

    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

    z-index: -1;
    opacity: 0.7;
}
.right-cloud{
    left: 85%;
    top: -20%;
}
.left-cloud{
    right: 75%;
    bottom: -3%;
}
.middle-cloud{
    right: 45%;
    bottom: -50%;
}
.banner-text{
    width: 100%;
    margin-right: auto;
    
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
    
    align-self:flex-start;

    color: rgb(54, 54, 54);
}
.banner-img{
    padding: 0% 6%; 
    min-width: 50%;
    min-height: calc(100vh - 260px);
    
    align-self: flex-end;
    
    margin-bottom: -1.25rem;
    position: relative;
    left: 5rem;
    
    background-image: url(../images/banner-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;  
}
.barcode-separator{
    background-image: url("/images/banner-foot.png");
    width: 100%;
    height: 7rem;
    background-repeat: repeat-x;
    background-size: contain;
}