.banner{
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 260px);
    
    padding: 0% 6.8%; 
    align-items: flex-end;

    position: relative;
    overflow: hidden; 
}

.cloud-1{
    left: 85%;
    top: 0%;
}
.cloud-2{
    right: 75%;
    bottom: 10%;
}
.cloud-3{
    right: 50%;
    bottom: -30%;
}
.banner-text{
    width: 100%;
    margin-right: auto;
    
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
    
    align-self:flex-start;

    color: rgb(54, 54, 54);
}
.banner-img{
    padding: 0% 6%; 
    min-width: 50%;
    min-height: calc(100vh - 260px);
    
    position: relative;
    left: 5rem;
    
    background-image: url(../images/banner-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;  
}
.barcode-separator{
    background-image: url("/images/banner-foot.png");
    width: 100%;
    height: 7rem;
    background-repeat: repeat-x;
    background-size: contain;
}




/*Mobile Version*/
@media screen and (max-width: 480px) {
    .banner{
    flex-direction: column; 
    min-height: calc(100vh - 180px);
    }
    .banner-img{
    min-width: 70%;
    align-self: flex-end;
    position: initial;
    margin-right: -1rem;
    }
    .cloud-1{
        left: 70%;
        top: 0%;
    }
    .cloud-2{
        right: 60%;
        top: 40%;
    }
    .cloud-3{
        display: none;
    }
    .banner-text{
        width: 70%;
        font-size: 1.5rem;
    }
}