.navbar{
    display: flex;
    padding: 2.5% 7% 0% 7%;

    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 18rem;
}
.nav-list{
    display: flex;
    align-items: center;

    gap: 24px;
    list-style: none;
    font-size: 1.2rem;
    padding-top: 3.5rem;
}
.nav-list a{
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
    cursor: pointer;
}
.nav-list li:nth-child(1):hover,
.nav-list li:nth-child(2):hover{
    color: #5ec57e;
}

.nav-list li:nth-child(3){
    padding: 20px 25px;

    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    
    border-radius: 30px;
    background-color: #5ec57e;
    color: white;

    transition: all .3s ease;
}
.nav-list li:nth-child(3):hover{
    transform: scale(1.05);
}



/*Mobile Version*/
@media screen and (max-width: 480px) {

.navbar{
    position: static;
    padding: 5%;
    margin: 1.5rem;
    border-bottom: 2px solid #5ec57e;
    border-radius: 1rem;
}
.navbar img{
    width: 8rem;
}
.hide-nav-list{
    display: none;
}
.nav-list.active, .hide-nav-list.active{
    display: flex;
}
.nav-list{
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 24px;
    list-style: none;
    font-size: 1rem;  
}
.menu-btn {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 1rem;
  padding: 0 5%;
  background: transparent;
  border: none;
  cursor: pointer;
  
}
.menu-btn .bar {
  width: 28px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}
}

