.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1% 5%;
}
.navbar img{
    width: 350px;
}
.nav-list{
    display: flex;
    gap: 24px;
    list-style: none; 
}
.nav-list a{
    text-decoration: none;
    color: inherit;
}

