.main-content{
    padding: 50px;
    box-sizing: border-box;
    height: 100vh;
}
.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header .current-date, .subtitle{
    color: #1111119a;
    font-weight: bold;
}
.content-header .subtitle{
    font-size: 1.2em;
}
.btn-new-transaction{
    color: white;
    background-color: #0296A8;
    border: none;
    padding: 20px;
    border-radius: 30px;
    font-size: 1.1em;
    cursor: pointer;
    transition: .5s all ease;
}
.btn-new-transaction:hover{
    color: #ffffff;
    background-color: #037d8d;
}
.btn-new-transaction i {
    padding: 0 5px 0 5px ;
}
.user-name{
    padding: 10px 0;
}
.container{
    border: 5px dashed #5ec57e;
    border-radius: 15px;
    margin-top: 2em;
}
.cash-flow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px 0 40px;   
    gap: 200px;
}
.cash-in, .cash-out, .cash-balance{
    background-color: #11111125;
    font-weight: 500;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.1em;
    flex: 1;
    min-width: 0;
}
.cash-in .value{
    color: #5ec57e;
}
.cash-out .value{
    color: #e62a2a;
}
.cash-balance{
    background-color: #5ec57e;
    color: white;
}
.balance-resumes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 350px);
    gap: 30px;
    padding: 40px;
}
.month-balance-resume, .last-balance-resume{
    background-color: #11111125;
    padding: 30px;
    border-radius: 15px;
}