.container{
    outline: 5px dashed #5ec57e;
    border-radius: 15px;
    margin-top: 2em;
    height: 100%;
}
.cash-flow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0 40px;   
    gap: 50px;
}
.cash-in, .cash-out, .cash-balance{
    padding: 30px;
    color: #1111119a;
    background-color: white;
    border: 1px solid #E0E7E5;
    font-weight: bold;
    
    border-radius: 20px;
    font-size: 1.1em;
    flex: 1;
    min-width: 0;
}
.cash-in .value{
    color: #5ec57e;
}
.cash-out .value{
    color: #e62a2a;
}
.cash-balance{
    background-color: #5ec57e;
    color: white;
}

.balance-resumes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 350px);
    gap: 30px;
    padding: 40px;
}
.month-balance-resume, .last-balance-resume{
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #E0E7E5;
    background-color: white;
    
    
}